body {
  text-align: center;
  margin-top: 0;
  font-family: monospace;
  font-size: 150%;
}

* {
  transition: all ease-in-out 1s;
}

button:hover {
  transform: scale(.95,.95);
  transition: all ease-in-out .5s;

}

li:hover {
  text-decoration: line-through;
}

.listTitle:hover {
  transform: scale(.95,.95);
  text-decoration: line-through;
}

input:hover {
  transform: translateX(2%);
  transition: all ease-in-out .5s;
}